body{
    padding-top: 3.5rem;
}

#add-row, #select-delete{
    height: 50px;
    border-top: 1px solid rgb(105, 105, 105, .2);
}

.label{
    margin: 10px 0;
}

.add{
    margin: 0 10px 0 0;
}

.thumbnail{
    width: 80px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.label-fs{
    font-size: .75rem;
}

#select_all{
    margin: 10px 0;
}